# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Apify storage
apify_storage
apify_docker_storage
.storage

# IDE
.idea

# OS
.DS_Store
Thumbs.db

# Screenshots
*.png

# Secrets and keys
.env